
/*~~~~~~~~~~~~~~~~~~~~~~~Introduction Section~~~~~~~~~~~~~~~~~~~~~~~*/

.intro-div {
    align-items: center;
    margin-top: 200px;
    margin-bottom: 150px;
}

.intro-div img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.intro-div h1 {
    text-align: center;
    font-size: 150px;
    margin: 20px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~Brief Introduction Section~~~~~~~~~~~~~~~~~~~~~~~*/

.brief-intro-div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-bottom: 150px;
}

.tagline {
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~Opening Times Section~~~~~~~~~~~~~~~~~~~~~~~*/

.times-div {
    text-align: center;
}

.times-div h3 {
    margin: 20px;
}

.times-list-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 50px;
    width: 600px;
}

.time-item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~Location Section~~~~~~~~~~~~~~~~~~~~~~~*/

.location-div {
    margin-top: 150px;
}

.location-div iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~Membership Section~~~~~~~~~~~~~~~~~~~~~~~*/

.membership-div {
    margin-bottom: 200px;
}

.membership-div h3 {
    text-align: center;
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: 75px;
}

.membership-benefits-div {
    display: flex;
    justify-content: center;
}

.benefit {
    text-align: center;
    width: 200px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
}

.benefit img {
    margin-bottom: 20px;
}