@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #222222;
}

html {
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
}

.green-text {
    color: #1bbb60;
}

a {
    text-decoration: none;
    color: inherit
}

.small-logo {
    width: 50px;
    height: 50px;
    margin: 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~Navigation Bar~~~~~~~~~~~~~~~~~~~~~~~*/

.navigation-bar-div {
    top: 0px;
    position: fixed;
    background-color: #fafafa;
    width: 100%;
    box-shadow: 0 10px 5px -2px rgba(0, 0, 0, 0.11);
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: left;
    padding: 20px;
}

.nav-list li {
    margin: 20px;
    font-size: 25px;
}

.nav-list img {
    margin-left: 50px;
    margin-right: 50px;
}

.nav-list li:hover {
    color: #28de777c;
}

.nav-list a:hover {
    color: #28de777c;
}


/*~~~~~~~~~~~~~~~~~~~~~~~Introduction Section~~~~~~~~~~~~~~~~~~~~~~~*/

.intro-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.intro-div h1 {
    font-size: 150px;
    margin: 20px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~Brief Introduction Section~~~~~~~~~~~~~~~~~~~~~~~*/

.brief-intro-div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-top: 150px;
}

.tagline {
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~Opening Times Section~~~~~~~~~~~~~~~~~~~~~~~*/

.times-div {
    margin-top: 100px;
    text-align: center;
}

.times-div h3 {
    font-size: 50px;
    margin: 20px;
}

.times-list-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 50px;
    width: 600px;
}

.time-item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.green-bg {
    background-color: rgb(192, 241, 214);
    color: white;
}